export JAVA_HOME={{ java_home }}
export HADOOP_HOME={{ install_dir }}
export HADOOP_LOG_DIR={{ install_dir }}/logs
export HADOOP_PID_DIR={{ install_dir }}/pids
export HADOOP_HEAPSIZE_MAX={{ hadoop_config.heap_size_max }}