[Unit]
Description=Fluentd Log Collector
After=network.target

[Service]
Type=simple
User={{ fluentd_user }}
Group={{ fluentd_group }}
Environment=NODE_NAME={{ hostname }}
Environment=FLUENTD_PORT={{ fluentd_port }}
Environment=KAFKA_TOPIC={{ fluentd_kafka_topic }}
Environment=KAFKA_BROKER={{ kafka_broker }}
Environment=COLLECT_INTERVAL={{ fluentd_collect_interval }}
ExecStart={{ fluentd_gem_path }} -c {{ fluentd_config_dir }}/{{ fluentd_config_file }}
Restart=always
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target